html {
  font-family: "Crimson Text", serif;
  box-sizing: border-box;
  padding: 1em 1rem 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*
font-family: "Crimson Text", serif;
*/

article {
  padding-bottom: 2px;
  border-bottom: 1px solid #999;
}

article header {
  color: #222;
  line-height: .5;
}

article h1 {
  font-size: 1.5rem;
  font-weight: lighter;
}

article header p {
  font-style: italic;
}

header {
  padding-bottom: 2px;
  border-bottom: 1px solid #999;
}

body {
  line-height: 1.3rem;
  margin: 0;
}

blockquote {
  font-size: 1.125rem;
  color: #999;
}

.quote {
  text-align: left;
  color: #999;
}

article p {
  color: #555;
}

article ol {
  margin: 0 1em;
  padding: 0;
  text-align: left;
  color: #555;
}
